.optionPrice {
    float: right;
}

.divider {
    background-color: lightgrey;
    display: block !important;
    width:100%;
    height:100%;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

#tbybSubText, #tbybButtonSubText {
    line-height: 1.4;
    color: #444;
    margin: 0 0 5px 24px;
    font-size: 13px;
}
#tbybButtonSubText {
    font-size: x-small;
    display: inline;
    margin-left: 0rem;
}

#tbybButtonSubText + #learnMoreModalLink {
    font-size: x-small;
    display: inline;
    margin-left: 0rem;
}

#tbybSubText a {
    color: black;
}

.selling-plan-fieldset input {
    margin: 0 10px 0 0;
}

#payTodayOptionContainer {
    display: block;
    margin-top: 1rem;
    letter-spacing: normal;
}

#payTodayPurchaseOptionSection {
    display: inline;
    font-size: 16px;
}

#payTodayPurchaseOptionTextLabel {
    font-size: 16px;
}

#togglePoweredByBlackcartContainer {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    margin-left: 24px;
}

#togglePoweredByBlackcartContainer a {
    text-decoration: none;
    margin: 1px 5px 0;
}

#dividerPoweredByBlackcart {
    margin: 0 5px 0 0;
}

#dividerPoweredByBlackcart svg {
    display: inline-block;
}

#tbybPurchaseOptionContainer {
    position: relative;
    display: block;
    margin-top: 5px;
    padding-bottom: 10px;
}

#tbybPurchaseOption {
    position: absolute;
}

#tbybOptionTextLabel {
    display: inline;
}

#tbybOptionTextLabel, #tbybToggleOptionTextDisabled, #tbybToggleOptionTextAlreadyLimitReached, #tbybToggleOptionTextDisabledWhenMaxItems {
    margin-left: 24px;
}

#tbybOptionTextLabel, #tbybToggleOptionTextDisabled, #tbybButtonOptionTextDisabled, #tbybToggleOptionTextAlreadyLimitReached, #tbybToggleOptionTextDisabledWhenMaxItems {
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    letter-spacing: normal;
    margin-bottom: 10px;
}

#tbybToggleOptionTextDisabled, #tbybToggleOptionTextAlreadyLimitReached, #tbybToggleOptionTextDisabledWhenMaxItems {
    font-size: 13px;
}

#tbybButtonOptionTextDisabled {
    font-size: x-small;
}

input#tbybPurchaseOption:checked + div,
input#payTodayPurchaseOption:checked + div {
    font-weight: bold;
}

.selling-plan-fieldset, #tbybButton  {
    border-radius: 10px;
    border: 2px solid #212121;
    margin: 0 0 20px;
    padding: 10px 14px;
    text-align: left;
}

#tbybButtonContainer {
    max-width: 44rem;
    display: block;
    text-align: center;
}

#tbybButton {
    width: 100%;
    height: fit-contentw;
    font-size: 15px;
    padding: 15px 30px 15px 30px;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
}

#tbybButton:disabled {
    background-color: gray;
    cursor: default;
}



/*
 * START Learn more modal
 */

#tbybLearnMoreModal {
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#blackcartLearnMoreModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
}

#blackcartLearnMoreModalHeader h3 {
    box-sizing: border-box;
    display: block;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    margin-block-end: 30px;
    margin-block-start: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    word-break: break-word;
}

#blackcartLearnMoreModalPill {
    display: inline-block;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 10px;
    font-weight: bold;
    background-color: #212121;
    width: fit-content;
    color: white;
    padding: 4px 7px;
    border-radius: 5px;
}

/* Modal Content */
#blackcartLearnMoreModalContent {
    font-family: sans-serif;
    border-radius: 1rem;
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 80px 0px;
    width: 80%;
    max-width: 760px;
    min-width: 375px;
    max-height: calc(100vh - 100px);
    top: 70px;
    overflow: auto;
    scrollbar-width: none;
}

/* The Close Button */
#closeTbybLearnMoreModal {
    position: absolute;
    right: 20px;
    color: #333;
    float: right;
    font-weight: normal;
    font-size: x-large;
    line-height: 2.5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    text-align: center;
    background-color: white;
    width: 2.5rem;
}

#closeTbybLearnMoreModal:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    cursor: pointer;
}

#learnMoreModalLink {
    font-size: 12px;
    color: #212121;
    width: fit-content;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.blackcartLearnMoreModalIcon svg {
    display: block;
    width: 24px;
    height: 24px;
}

.blackcartLearnMoreModalIcon {
    background: lightblue;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin-bottom: 15px;
}

.blackcartLearnMoreModalblockFooter {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    display: block;
}

#blackcartLearnMoreModalBody {
    padding: 2rem 4rem;
    flex-wrap: wrap;
    display: flex;
}

.blackcartLearnMoreModalBlock {
    display: inline-block;
    padding: 20px;
    flex: 0 0 50%;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.blackcartLearnMoreModalBlock strong {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
}

#blackcartLearnMoreModalBodyFooterBanner {
    background-color: #f7f7f7;
    font-size: small;
    color: black;
    border-radius: 8px;
    padding: 1.5rem 4rem;
    text-align: center;
    margin: auto;
    width: 80%;
}

#blackcartLearnMoreModalBodyFooterBanner a {
    text-decoration: underline;
    color: inherit;
}

#blackcartLearnMoreModalFooter {
    width: 100%;
    color: #777;
    font-size: x-small;
    margin-top: 40px;
    padding: 20px 30px 0;
    text-align: center;
    border-top: solid 1px #eee;
}

#blackcartLearnMoreModalFooterLogo {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif !important;
    color: #000;
}

#blackcartLearnMoreModalFooterLogo svg {
    height: 9px;
}

/*
 * END Learn more modal
 */

 @media (max-width: 670px) {
    #blackcartLearnMoreModalBody {
        padding: 0;
    }
    #blackcartLearnMoreModalHeader {
        margin-bottom: 10px;
    }
    #blackcartLearnMoreModalBodyFooterBanner {
        margin-top: 20px;
        padding: 1.2rem;
        width: 100%;
        text-align: left;
    }
    .blackcartLearnMoreModalBlock {
        padding: 20px 2px;
        flex: none;
    }
 }
